<style>
  body{
    margin: 0;
  }
  h1 {
    font-size:40px;
    text-align:center;
    color: black;
    border-bottom: 3px solid grey;
    margin:0;
    padding:30px;
  }
  a{
    text-decoration:none;
    color: black;
  }
  a:hover{
    color:red;
  }
  ol{
    font-size: 25px;
    margin: 0px;
    margin-left: 10px;
    padding-top:10px;
    border-right: solid grey;
    width: 130px;
    }
#grid{
display: grid;
grid-template-columns: 150px 1fr;
}
#grid #article{
padding: 20px;
padding-left: 55px
}
#grid #article #media{
  display: grid;
  border-top: 3px solid grey;
  padding-left: 10px;
  margin-left: -10px;
}

@media(max-width:800px){
#grid{
display: block;
}
#grid #article{
  border-top: 3px solid grey;
}
ol{
border-right: none;
padding-bottom: 10px;
  }
}
</style>
